body {
    background-image: url(https://i.pinimg.com/originals/eb/df/09/ebdf094e815d56aba6adc1003e7030bb.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(57, 120, 255, 0.822);
    text-align: center;
    
}

table {
    width: 50%;
    margin-left: 350px;
}

thead {
    background-color: rgb(83, 156, 252);
}

tbody {
    background-color: rgb(185, 221, 255);
}

tfoot {
    background-color: rgb(83, 156, 252);
}

.padre {
    background-color:  rgba(83, 156, 252, 0.507);
    width: 50%;
    margin-left: 350px;
}

img {
    width: 130px;
    height: 130px;
    position: absolute;
    right: 10px;
}